<div data-controller="map" data-map-latitude="<%= @latitude %>" data-map-longitude="<%= @longitude %>" class="relative">
  <!-- Map Wrapper -->
  <div id="map-wrapper" style="height: 0; overflow: hidden; transition: height 0.3s ease;">
    <div data-map-target="map" id="map" style="height: 500px; width: 100%;"></div>
  </div>

  <div data-controller="weather" data-weather-code-value="<%= @weather_code %>"id="toggle-map-btn" class="text-white max-h-screen overflow-hidden">
    <%# <div class="relative w-full" data-controller="video"> %>
    <div class="relative max-w-screen max-h-screen flex items-center justify-center" data-controller="video svg-animator">

      <%# <div id="layer_2" class="z-0 animate-move">
        <svg width="300" height="300" viewBox="0 0 120 100" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M51.8038 58.2347C52.2128 58.2547 52.1121 58.2882 52.5 58.2996C52.1322 58.2306 52.227 58.1969 51.8038 58.2347ZM51.8038 58.2347C40.2615 57.6709 20.8643 53.4833 25.5 33.7815C30.3 13.3815 48.5 10.9482 57 12.2815C61.6083 13.1044 70.3771 17.6654 69.0551 29.3346M51.8038 58.2347C49.1586 58.4712 45.8103 60.7988 46.5 65.2815C46.8333 66.1149 48 67.7815 50 67.7815L3.5 73.7815L59 71.7815L52 73.7815H118L98 71.7815C103.833 70.9482 118.5 66.0815 114.5 57.2815C110.5 48.4815 97.5 51.2815 93.5 53.2815C100.5 47.5 96.8333 42.3544 90.5 42C101.5 31 96.5 17 84 17.982C77.5 17.982 69.7515 25.571 69.0551 29.3346M69.0551 29.3346C69.0384 29.4824 69.0752 29.1845 69.0551 29.3346ZM69.0551 29.3346C69.062 29.198 69.0254 29.4954 69.0551 29.3346Z" fill="#FFFFFF" stroke="black"/>
        </svg>
      </div> %>

      <div data-svg-animator-target="container" class="relative w-full h-screen">
        <!-- SVGs will be dynamically injected here -->
      </div>

      <%# <div data-svg-animator-target="container" class="relative w-full h-screen z-20">
        <!-- SVGs will be dynamically injected here -->
      </div> %>

      <%= video_tag 'test.webm', id: 'myVideo', autoplay: true, loop: true, playsinline: true, muted: true, class: "w-full max-h-screen z-10" do %>
        Your browser does not support the video tag.
      <% end %>

      <!-- Weather Information Overlay -->
      <div class="absolute top-0 left-0 w-full z-10 bg-black bg-opacity-50 p-4">
        <% if @weather %>
          <p class="text-white"><%= @city %>, <%= @country %></p>
          <!-- <p class="text-white">Temperature: <%= @weather["current_weather"]["temperature"] %> °C</p>
          <p class="text-white">Wind Speed: <%= @weather["current_weather"]["windspeed"] %> km/h</p>
          <p class="text-white">Weather Code: <%= @weather["current_weather"]["weathercode"] %></p> -->
        <% else %>
          <p class="text-white">Unable to retrieve weather data.</p>
        <% end %>
      </div>
      
      <!-- Part of Weather Information Overlay -->
      <div class="absolute top-0 w-full z-20 bg-black bg-opacity-50 p-4 flex items-center space-x-4 justify-end">
        <!-- Toggle Button -->
        <button data-controller="map-toggle" data-action="click->map-toggle#toggleMap" id="toggle-btn" class="text-white">Show Map</button>

        <!-- Weather Update Form -->
        <%= form_with url: weather_update_coordinates_path, method: :post, local: true, class: "flex items-center" do |form| %>
          <%= form.hidden_field :latitude, id: 'latitude' %>
          <%= form.hidden_field :longitude, id: 'longitude' %>
          <%= form.submit 'Update Coordinates', id: 'update-coordinates-btn', class: "text-white cursor-pointer" %>
        <% end %>

        <!-- City and Country Display -->
        <button id="playButton" class="text-white">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.5 8.43A4.985 4.985 0 0 1 17 12c0 1.126-.5 2.5-1.5 3.5m2.864-9.864A8.972 8.972 0 0 1 21 12c0 2.023-.5 4.5-2.5 6M7.8 7.5l2.56-2.133a1 1 0 0 1 1.64.768V12m0 4.5v1.365a1 1 0 0 1-1.64.768L6 15H4a1 1 0 0 1-1-1v-4a1 1 0 0 1 1-1m1-4 14 14"/>
          </svg>
        </button>
      </div>

      <div class="absolute bottom-0 w-full h-1/3 z-20 bg-black bg-opacity-50" data-controller="scroll">
        <% if @error_message.present? %>
          <div class="error-message">
            <p><%= @error_message %></p>
          </div>
        <% elsif @today_forecast.present? %>
          <h3 class="text-white">Today's Hourly Forecast</h3>
          <%= button_tag "Toggle Forecast Mode", type: 'button', onclick: "window.location='#{toggle_forecast_mode_path}'" %>
          <div class="relative">
            <button id="scrollLeft" class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-50 p-2 z-30">⬅️</button>
            <div id="forecastScrollContainer" class="weather-cards-container flex space-x-4 overflow-x-auto p-2 cursor-grab">
              <% @today_forecast.each do |forecast| %>
                <% highlight_condition = session[:mode] == 'daily' ? forecast[:time] == @current_day : forecast[:time] == @current_hour %>
                <%= render 'weather_card', forecast: forecast, highlight_condition: highlight_condition %>
              <% end %>
            </div>
            <button id="scrollRight" class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-50 p-2 z-30">➡️</button>
          </div>

        <% else %>
          <p class="text-white">No weather data available for today</p>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const highlightedCard = document.querySelector('.weather-card.highlight');
    if (highlightedCard) {
      highlightedCard.scrollIntoView({ behavior: 'smooth', inline: 'center' });
    }
  });
</script>