<div data-controller="map" data-map-latitude="<%= @latitude %>" data-map-longitude="<%= @longitude %>" class="relative">
  <!-- Map Wrapper -->
  <div id="map-wrapper" style="height: 0; overflow: hidden; transition: height 0.3s ease;">
    <div data-map-target="map" id="map" style="height: 500px; width: 100%;"></div>
  </div>

  <div data-controller="weather" data-weather-code-value="<%= @weather_code %>"id="toggle-map-btn" class="text-white">
    <div class="relative w-full" data-controller="video">
      <%= video_tag 'test.webm', id: 'myVideo', autoplay: true, loop: true, playsinline: true, muted: true, class: "w-full max-h-screen" do %>
        Your browser does not support the video tag.
      <% end %>

      <!-- Weather Information Overlay -->
      <div class="absolute top-0 left-0 w-full z-10 bg-black bg-opacity-50 p-4">
        <% if @weather %>
          <p class="text-white"><%= @city %>, <%= @country %></p>
          <!-- <p class="text-white">Temperature: <%= @weather["current_weather"]["temperature"] %> °C</p>
          <p class="text-white">Wind Speed: <%= @weather["current_weather"]["windspeed"] %> km/h</p>
          <p class="text-white">Weather Code: <%= @weather["current_weather"]["weathercode"] %></p> -->
        <% else %>
          <p class="text-white">Unable to retrieve weather data.</p>
        <% end %>
      </div>
      
      <!-- Elements positioned at the right of the video -->
      <div class="absolute top-0 w-full z-20 bg-black bg-opacity-50 p-4 flex items-center space-x-4 justify-end">
        <!-- Toggle Button -->
        <button data-controller="map-toggle" data-action="click->map-toggle#toggleMap" id="toggle-btn" class="text-white">Show Map</button>

        <!-- Weather Update Form -->
        <%= form_with url: weather_update_coordinates_path, method: :post, local: true, class: "flex items-center" do |form| %>
          <%= form.hidden_field :latitude, id: 'latitude' %>
          <%= form.hidden_field :longitude, id: 'longitude' %>
          <%= form.submit 'Update Coordinates', id: 'update-coordinates-btn', class: "text-white cursor-pointer" %>
        <% end %>

        <!-- City and Country Display -->
        <button id="playButton" class="text-white">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.5 8.43A4.985 4.985 0 0 1 17 12c0 1.126-.5 2.5-1.5 3.5m2.864-9.864A8.972 8.972 0 0 1 21 12c0 2.023-.5 4.5-2.5 6M7.8 7.5l2.56-2.133a1 1 0 0 1 1.64.768V12m0 4.5v1.365a1 1 0 0 1-1.64.768L6 15H4a1 1 0 0 1-1-1v-4a1 1 0 0 1 1-1m1-4 14 14"/>
          </svg>
        </button>
      </div>

      <div class="absolute bottom-0 w-full h-1/3 z-20 bg-black bg-opacity-50 p-4" data-controller="scroll">
        <% if @error_message.present? %>
          <div class="error-message">
            <p><%= @error_message %></p>
          </div>
        <% elsif @today_forecast.present? %>
          <h3 class="text-white">Today's Hourly Forecast</h3>
          <%= button_tag "Toggle Forecast Mode", type: 'button', onclick: "window.location='#{toggle_forecast_mode_path}'" %>
          <div class="relative">
            <button id="scrollLeft" class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-50 p-2 z-30">⬅️</button>
            <div id="forecastScrollContainer" class="weather-cards-container flex space-x-4 overflow-x-auto p-2 cursor-grab">
              <% @today_forecast.each do |forecast| %>
                <% highlight_condition = session[:mode] == 'daily' ? forecast[:time] == @current_day : forecast[:time] == @current_hour %>
                <%= render 'weather_card', forecast: forecast, highlight_condition: highlight_condition %>
              <% end %>
            </div>
            <button id="scrollRight" class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-50 p-2 z-30">➡️</button>
          </div>

        <% else %>
          <p class="text-white">No weather data available for today.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const highlightedCard = document.querySelector('.weather-card.highlight');
    if (highlightedCard) {
      highlightedCard.scrollIntoView({ behavior: 'smooth', inline: 'center' });
    }
  });
</script>